@tailwind base;

@tailwind components;

@tailwind utilities;

@import url("https://cdn.materialdesignicons.com/4.5.95/css/materialdesignicons.min.css");

body {
    @apply bg-gray-100
}

h2 {
    @apply text-xl mb-3
}

a {
    @apply underline
}

.intro p {
    @apply mb-2
}

.teams .my-pokemon, .teams .my-team {
    overflow: hidden;
}
.battling .my-team {
    overflow: hidden;
}
.choosing .spacer {
    height: 24px;
    @apply mb-2
}

.chooser-container {
    z-index: 1;
}

.drop-zone {
    min-height: 100px;
    border-style: dashed;
    border-width: 1px;
}

.drop-zone .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #cccccccc;
}

button.toggle {
    width: 30px;
}

button.toggle:hover {
    background-color: #aaffaa;
}

.btn {
    @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*.btn-delete {*/
/*    position: absolute;*/
/*    right: 10px;*/
/*    top: 10px;*/
/*}*/
.badge-list {
    line-height: 30px;
}

.badge {
    @apply text-white;
    max-width: 110px;
}
.teams .opponents .badge {
    max-width: 60px;
}

.badge.round {
    width: 25px;
    height: 25px;
    border-radius: 18px;
}
.badge.small {
    width: 20px;
    height: 20px;
    border-radius: 18px;
    @apply text-xs
}

.badge + .badge {
    @apply ml-1
}
.super .badge {
    /* super resist/attack */
    @apply font-bold;
}

