.attacks-header {
  width: 65px;
}

.elm-autocomplete {
  position: relative;
  width: 150px;

  input {
    width: 100%;
    padding-left: 5px;
  }

  ul {
    background-color: white;
    width: 100%;
    position: absolute;
    top: 30px;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    height: 150px;
    overflow: auto;
  }

  li {
    border-left: 3px solid #aaa;
    padding-left: 10px;
    margin-bottom: 5px;
    cursor: pointer;
  }

  .key-selected {
    background-color: #aaffaa;
  }

  .mouse-selected {
    background-color: #ffaaaa;
  }
}
