@tailwind base;

@tailwind components;

@tailwind utilities;

@import url("https://cdn.materialdesignicons.com/4.5.95/css/materialdesignicons.min.css");

header {
    justify-items: center;
}

h2 {
    @apply text-xl mb-3
}

.main.choosing > div {
    flex: 1 0 33%;
}

.my-team {
    overflow: hidden;
}
/*.battling .my-team {*/
/*    flex-basis: 400px;*/
/*}*/

/*.choosing .my-team {*/
/*    flex-grow: 3;*/
/*}*/

.chooser-container {
    z-index: 1;
}
.recommendations > div {
    min-width: 30px;
    display: flex;
    flex-wrap: wrap;
}

button.toggle {
    width: 30px;
}

button.toggle:hover {
    background-color: #aaffaa;
}

.btn {
    @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

/*.btn-delete {*/
/*    position: absolute;*/
/*    right: 10px;*/
/*    top: 10px;*/
/*}*/
.badge-list {
    line-height: 30px;
}

.badge.round {
    width: 25px;
    height: 25px;
    border-radius: 18px;
}

.badge {
    @apply text-white;
    max-width: 100px;
    margin: 0.1rem;
}
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.badge + .badge {
    @apply ml-1
}
.super .badge {
    @apply font-bold;
}
.drop-zone {
    min-height: 100px;
    border-style: dashed;
    border-width: 1px;
}

